<div class="container-fluid">
  <h2 class="recommandationTitle">&#10054 My Fridge &#10054</h2>
  <!-- Barre de recherche dédié aux ingrédients -->

  <div class="row">
    <div class="col-md-6">
      <h3>Add ingredients to your fridge</h3>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input ng-model-options="{ debounce: 200 }" ng-model="search" type="text" class="form-control" placeholder="Search for an ingredient" list="IngredientQuery">
          <datalist id="IngredientQuery">
            <div ng-repeat="r in $ctrl.IngredientList">
              <option value="{{r.name}}">
            </div>
          </datalist>
          <button type="submit" class="deleteButton" ng-click="$ctrl.addIngredient()">Add</button>

          <div>
          <h3>What's in my fridge : </h3>
            <ul>            
              <li ng-repeat="e in $ctrl.getIngredients() | orderBy: 'name' track by $index">
                <button class="deleteButton" ng-click="$ctrl.remove(e)" type="deleteBox">       
                  <img class="img-responsive" id="buttonImg" src="images/wastebasket.png" />
                </button>   {{e}} 
              </li>
            </ul>
          </div>

          <div>
            <button id="deBut" class="deleteButton" ng-click="$ctrl.getRecipeByIngredient($ctrl.getIngredients());"> Cook Something Chef ! </button>
          </div>
        </div>
        </form>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="images/fridge.png" />
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="n in $ctrl.RecipeByIngredient">
          <div class="suggestion">
            <img class="img-responsive" style="width: 266px; height: 250px;"src="{{n.image}}" />
            <!--Le formatage de l'image pour que l'affichage soit correct-->
            <div class="recContent">
              <div class="recContentText">
                <!-- contient le paramètre qui sera transmis au service "DataExtract" qui va récupérer les détails de la recette -->
                <!-- version local ng-href="recipeInformation?id={{n.id}}" -->
                <!-- version deploy ng-href="/projet-mjean_gfadi/#!/recipeInformation?id={{n.id}}" -->
                <a ng-href="recipeInformation?id={{n.id}}" alt="Go to full description" style="font-weight: bold;">
                  <p style="font-size: 10pt;max-width: 200px">{{n.title}}</p>
                </a>
              </div>
              <div>
                <p>Used ingredient: {{n.usedIngredientCount}}</p>
              </div>
              <div ng-if="n.missedIngredientCount===undefined">
                <p>Missed ingredient : -</p>
              </div>
              <div ng-if="n.missedIngredientCount!==undefined">
                <p>Missed ingredient : {{n.missedIngredientCount}}</p>
              </div>
              <div>
                <p>Likes : {{n.likes}} &#128077</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>