<img class="img-responsive" src="images/LeCookLogo.png" />

<p style="font-size : 11pt; font-weight : bold; color : #191e2d;">The refence cooking site</p>
<div class="jokeLayer">
  <p style="font-weight: bold;">Food joke</p>
  <p class="joke">"{{ $ctrl.joke }}"</p>
</div>

<br />

<div class="jokeLayer">
  <p style="font-weight: bold;">Food Fact</p>
  <p class="joke">"{{ $ctrl.foodTrivia }}"</p>
</div>

<br />

<div ng-repeat="n in $ctrl.randomRecipes">
  <div class="suggestion">
    <img class="img-responsive" src="{{n.image}}" />
    <div class="recContent">
      <a href="recipeInformation?id={{n.id}}" alt="Go to full description" style="font-weight: bold; font-size: 10pt;"><p>{{n.title}}</p></a> <!--Link is to be done, we can use the recipe ID to display it on another page-->
      <p>&#8986 Preparation time : {{n.preparationMinutes}}min </p>
      <p>&#8986 Cooking time : {{n.cookingMinutes}}min</p>
      <p>&#128077 Likes : {{n.aggregateLikes}} </p>
    </div>
  </div>
</div>


