<img class="img-responsive" src="images/LeCookLogo.png" />


<p style="font-size : 11pt; font-weight : bold; color : #191e2d;">The refence cooking site</p>

<!-- Pour le confort de l'utilisateur, on demande au service DataExtract une blague-->
<div class="jokeLayer">
  <p style="font-weight: bold;">Food joke</p>
  <p class="joke">"{{ $ctrl.joke }}"</p>
</div>

<br />

<!-- Pour le confort de l'utilisateur, on demande au service DataExtract une information-->
<div class="jokeLayer">
  <p style="font-weight: bold;">Food Fact</p>
  <p class="joke">"{{ $ctrl.foodTrivia }}"</p>
</div>

<br />

<!-- Pour afficher des recettes dans la sidebar, ici href redirige l'utilisateur vers les détails de la recette -->
<div ng-repeat="n in $ctrl.randomRecipes">
  <div class="suggestion">
    <img class="img-responsive" src="{{n.image}}" />
    <div class="recContent">
      <a ng-href="/projet-mjean_gfadi/#!/recipeInformation?id={{n.id}}" alt="Go to full description" style="font-weight: bold; font-size: 10pt;"><p>{{n.title}}</p></a>
      <div ng-if="n.cookingMinutes===undefined">
        <p>&#8986 Cooking time : -</p>
      </div>
      <div ng-if="n.cookingMinutes!==undefined">
        <p>&#8986 Cooking time : {{n.cookingMinutes}}min</p>
      </div>
      <div ng-if="n.preparationMinutes===undefined">
        <p>&#8986 Preparation time : -</p>
      </div>
      <div ng-if="n.preparationMinutes!==undefined">
        <p>&#8986 Preparation time : {{n.preparationMinutes}}min</p>
      </div>
      <p>&#128077 Likes : {{n.aggregateLikes}} </p>
    </div>
  </div>
</div>


